<div class="container text-center fill" style="margin-top: 3rem;">
    <div class="text-center">
      <h4>Running totals last 30 days</h4>
    </div>
    <div class="row">
      <div class="col text-center">
        <h5 style="color: red;">Out</h5>
        <p>135.96</p>
      </div>
      <div class="col text-center">
        <h5 style="color: green">In</h5>
        <p>150.00</p>
      </div>
      <div class="col text-center">
        <h5><span style="color: green;">+</span>/<span style="color:red;">-</span></h5>
        <p style="color: green;">+14.04</p>
      </div>
    </div>
</div>


<div class="footer">
  <div class="row">
    <div class="col text-left"><ion-icon class="ion-arrow-graph-down-left" style="font-size: 96px; color: red;"></ion-icon></div>
    <div class="col text-right"><ion-icon class="ion-social-usd" style="font-size: 96px; color: green;"></ion-icon></div>
  </div>
</div>
<script src="/javascripts/functions.js"></script>
