<div class="loginHeader text-center">
    <h2>Things Add Up</h2>
</div>

<div class="container" style="margin-top: 4rem;">
    <div id="mainContent">
        <!-- test -->
        <div class="container">
            <h3>Please login to continue!</h3>
        </div>
        <div class="container" style="margin-top: 3rem;">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address or Phone Number</label>
                    <input type="text" class="form-control" id="txtUsername" aria-describedby="emailHelp" placeholder="Enter email or Phone Number">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="txtPassword" placeholder="Password">
                </div>
                <div class="text-center">
                    <button type="button" id="btnLogin" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div class="container" style="margin-top:2.5rem;">
          <div class="col-xs-12">
            <h6 class="text-center">Click <a href="/register">here</a> to register</h6>
          </div>
        </div>
    </div>
</div>
<script src="/javascripts/login.js"></script>
