<script src="/javascripts/hbs-forms.js"></script>
<div class="loginHeader text-center">
    <h2>Things Add Up</h2>
</div>
<div class="container">
  <div class="row h-100 justify-content-center align-items-center">
    <form id="createUser">
      <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="txtFirstName" placeholder="First">
        </div>
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="txtLastName" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="phoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
        <div class="col-sm-10">
          <input type="telNo" class="form-control" id="txtPhoneNumber" placeholder="Phone Number">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="txtPassword" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <label for="passwordConfirm" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="txtPasswordConfirm" placeholder="Confirm Password">
        </div>
      </div>

      <div class="form-group row">
        <div class="mx-auto">
          <button type="submit" class="btn btn-primary" disabled>Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
